@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&family=Ubuntu:wght@300&display=swap");

:root {
  --primary-app-color: #02203c;
  --secondary-app-color: #ce00ac;
  --standout-color: rgb(0, 247, 0);
}
.App {
}
* {
  padding: 0;
  margin: 0;
}

.herosection {
  background: linear-gradient(
    -90deg,
    var(--primary-app-color),
    var(--secondary-app-color)
  );
  clip-path: polygon(15 0, 85% 0, 85% 100%, 15% 100%);
}

.nav-items {
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Ubuntu";
}
.brand-name {
  font-family: "Oswald";
  color: #ffffff;
  font-size: 2rem;
}
.px-10 {
  padding-inline: 90px;
}
.herosection2 {
  padding-top: 60px;
}
.Im-text-section {
  padding-top: 52px;
  text-align: center;
}
.Im-text {
  font-family: "ubuntu";
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}
.name-Im-text {
  color: var(--standout-color);
  font-size: 18px;
}
.Im-text-enthusiastic {
  font-family: "ubuntu";
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}
.Im-text-subheading {
  font-family: "ubuntu";
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}
.btn-hire-me {
  font-size: 1.3rem;
  font-family: "ubuntu";
  color: #fff;
  background: transparent;
  border-radius: 25px;
  margin-inline: 12px;
  padding: 5px 40px;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
  animation: Anim 1s ease-in-out backwards;
}
.btn-hire-me:hover {
  transform: translateY(-5px);
  background-color: var(--standout-color);
  color: #1c1c1c;
}
.btn-resume-me {
  font-size: 1.3rem;
  font-family: "ubuntu";
  color: #fff;
  background: red;
  border-radius: 25px;
  margin-inline: 12px;
  padding: 5px 40px;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
}
.btn-resume-me:hover {
  transform: translateY(-5px);
}

@keyframes Anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.custom-img {
  width: 300px;
  border-radius: 50%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

/* about me section*/
.about-me-text {
  font-family: "ubuntu";
  font-weight: 800;
  font-size: 3.5rem;
  text-decoration: underline;
  letter-spacing: 1px;
  text-align: center;
}
.why-text-sub {
  font-family: "ubuntu";
  font-weight: 700;
  font-size: 1.1rem;
  opacity: 0.8;
  text-transform: capitalize;
  text-align: center;
}
.aboutme-inside {
  width: 70%;
  margin-inline: auto;
}
.some-text-about-me {
  font-family: "ubuntu";
  font-weight: 600;
  font-size: 1.1rem;
  opacity: 0.8;
  margin-top: 60px;
  margin-right: 100px;
  text-align: justify;
}

.few-highlights {
  font-family: "ubuntu";
  padding-block: 60px;
}
.few-text {
  font-family: "ubuntu";
  font-weight: 600;
  font-size: 1.1rem;
  opacity: 0.8;
  text-align: justify;
}

/* resume css */
.resume-options-items {
  width: 1%;
  transition: all 0.3s ease-in-out;
  padding-block: 24px;
  padding-inline: 24px;
  color: #000;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.resume-options-items:hover {
  width: 100%;
  background: linear-gradient(
    -90deg,
    var(--primary-app-color),
    var(--secondary-app-color)
  );
  color: #fff;
}
.icons-span {
  margin-block: 24px;
  margin-inline: 24px;
}
.selected {
  background: linear-gradient(
    -45deg,
    var(--primary-app-color),
    var(--secondary-app-color)
  );
  width: 100%;
  color: #fff;
}
.bg-new {
  background: linear-gradient(
    -45deg,
    var(--primary-app-color),
    var(--secondary-app-color)
  );
}
.resume-outer-section {
  padding-top: 100px;
  padding-bottome: 100px;
  background-color: var(--primary-app-color);
  color: #fff;
  clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 100%);
}
.resume-new-section {
  margin-top: 42px;
  background: #fff;
  box-shadow: 10px 10px 31px 2px #1c1c1c;
}
